<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Add Student <br>

<form method="post" action="/students/add" enctype="multipart/form-data">
    Name: <input type="text" name="name"><br>
    Surname: <input type="text" name="surname"><br>
    Email: <input type="text" name="email"><br>
    Picture name: <input type="file" name="picture"><br>
    Lesson: <select name="lessonId">
    <option th:each="lesson : ${lessons}" th:text="${lesson.title}" th:value="${lesson.id}"></option>
</select><br>
    User type: <select name="userType">
    <option value="STUDENT">STUDENT</option>
</select>
    <input type="submit" value="add">
</form>
</body>
</html>