<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Students page | <a href="/students/add">Add Students</a>

<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>picture</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>lesson title</th>
        <th>user type</th>
        <th>update</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}" >
        <td th:text="${student.id}"></td>
        <td>
            <img th:if="${student.getPicName() != null}" th:src="@{/getImage(picName=${student.picName})}" width="40"/>
        </td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.lesson.title}"></td>
        <td th:text="${student.userType}"></td>
        <td><a th:href="@{'/student/update/' + ${student.id}}">Update</a> </td>
        <td><a th:href="@{'/student/delete/' + ${student.id}}">Delete</a> </td>
    </tr>
    </tbody>
</table>
</body>
</html>