<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Teacher page | <a href="/teachers/add">Add Teachers</a>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>picture name</th>
        <th>lesson title</th>
        <th>update</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.surname}"></td>
        <td th:text="${teacher.email}"></td>
        <td th:text="${teacher.picName}"></td>
        <td th:text="${teacher.lesson.title}"></td>
        <td><a th:href="@{'/teacher/update/' + ${teacher.id}}">Update</a> </td>
        <td><a th:href="@{'/teacher/delete/' + ${teacher.id}}">Delete</a> </td>
    </tr>
    </tbody>
</table>
</body>
</html>